.container {
  margin: 10px;
  overflow: scroll;
  width: 300px;
  height: 350px;
}

.book-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    margin: auto;
    text-align: center;
}

.pubished-date {
  margin-top: 5px;
  margin-bottom: 0;
}

.author {
    color: grey;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-to-list {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.remove-from-list {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: red;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
    opacity: 0.7;
}
